
<section class="profile-page">
  <h2>Meu Perfil</h2>

  <form method="post" enctype="multipart/form-data" class="profile-form">
    <div class="profile-picture">
      <label for="avatar">
        <img src="statics/images/user-image.jpeg" alt="Foto de perfil" />
      </label>
      <div>
        <input type="file" id="avatar" name="avatar" accept="image/*" />
        <p>{%include "partials/components/icons/pen-icon.svg"%}</p>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" id="name" name="name" placeholder="Seu nome" />
    </div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="email" id="email" name="email" placeholder="email@exemplo.com" />
    </div>

    <div class="form-group">
      <label for="gender">Gênero</label>
      <select id="gender" name="gender">
        <option value="">Selecione</option>
        <option value="masculino">Masculino</option>
        <option value="feminino">Feminino</option>
        <option value="feminino">Não Binário</option>

        <option value="outro">Outro</option>
      </select>
    </div>

    <div class="form-group">
      <label for="password">Nova Senha</label>
      <input type="password" id="password" name="password" placeholder="Digite sua nova senha" />
    </div>

    <div class="form-group">
      <label for="confirm_password">Confirmar Senha</label>
      <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirme sua senha" />
    </div>

    <button type="submit" class="btn-save">Salvar Alterações</button>
  </form>
</section>
