<!-- <div class="flex gap-1 p-2">
    <input type="month" x-model="filters.month" />
    <select x-model="filters.type">
        <option value="">Todos os tipos</option>
        <option value="receita">Receita</option>
        <option value="despesa">Despesa</option>
    </select>
    <select x-model="filters.status">
        <option value="">Todos os status</option>
        <option value="pago">Pago</option>
        <option value="pendente">Pendente</option>
    </select>
</div> -->

<div class="flex gap-1 p-b-2 items-start">
    <div class="dropdown" x-data="dropdownControl">
        <div
            class="input-form cursor-pointer"
            @click="openDropdown =!openDropdown"
            style="background-color: var(--background-input)"
        >
            <div class="flex p-1">
                <p>Todos status</p>
                <template x-if="openDropdown">
                    <div>
                        {% include
                        "partials/components/icons/arrow-up-filter-icon.svg" %}
                    </div>
                </template>
                <template x-if="!openDropdown">
                    <div>
                        {% include
                        "partials/components/icons/arrow-down-filter-icon.svg"
                        %}
                    </div>
                </template>
            </div>
        </div>
        <div class="dropdown-menu" x-show="openDropdown" x-transition>
            <div class="dropdown-item">
                <button
                    hx-get="/"
                    hx-target="#debts-section"
                    hx-swap="innerHTML"
                >
                    Pendente
                </button>
            </div>

            <div class="dropdown-item">
                <button
                    hx-get="/"
                    hx-target="#debts-section"
                    hx-swap="innerHTML"
                >
                    Pago
                </button>
            </div>
        </div>
    </div>
</div>
