<div class="navbar-container">
    <div class="flex justify-between p-b-2">
        <div class="flex align-center gap-1">
            {% include "partials/components/icons/logo-icon.svg" %}
            <h2>Bem vindo(a), Jeniffer!</h2>
        </div>
        <div class="flex align-center gap-1 ">
            <div
                x-data="{ theme: localStorage.getItem('theme') || 'light' }"
                class="flex align-center"
            >
                <button
                    @click="
                    theme = theme === 'light' ? 'dark' : 'light';
                    switchTheme(theme);
                  "
                    class="btn-toggle-theme cursor-pointer btn"
                >
                    <template x-if="theme === 'light'" x-transition>
                        {% include "partials/components/icons/moon-icon.svg" %}
                    </template>
                    <template x-if="theme === 'dark'" x-transition>
                        {% include "partials/components/icons/sun-icon.svg" %}
                    </template>
                </button>
            </div>

            <div class="cursor-pointer">
                {% include "partials/home/menu/navbar/components/notifications/notification.html" %}
            </div>
        </div>
    </div>

    <header class="navbar gap-2 p-t-2">
        <div class="flex align-center" x-data="debtModalControl">
            <div
                class="flex align-center"
                @click="openModal =! openModal"
                class="cursor-pointer "
            >
              <button class="button">
                {%include "partials/components/icons/plus-icon.svg"%} Adicionar debito
              </button> 
            </div>
            <div x-show="openModal" @click.away="openModal = false">
                {%include "partials/home/add-debt-modal/add-debt-modal.html" %}
            </div>
        </div>
    </header>
</div>
