<div class="navbar-container">
    <div class="flex align-center gap-1">
        {% include "partials/components/icons/logo-icon.svg" %}
        <h2>Bem vindo(a), Jeniffer!</h2>
    </div>
    <div></div>
    <header class="navbar gap-2">
        <div>
            <input type="text" placeholder="pesquisar..." class="search-bar" />
        </div>
        <div class="flex align-center" x-data="debtModalControl">
            <div class="flex align-center" " @click="openModal =! openModal" class="cursor-pointer">
                {%include "partials/components/icons/plus-icon.svg"%}</div
            >
            <div x-show="openModal" @click.away="openModal = false">
                {%include "partials/home/add-debt-modal/add-debt-modal.html" %}
            </div>

        </div>
        <div class="flex align-center">{%include "partials/components/icons/notification-icon.svg"%}</div>
    </header>
</div>
