<div class="card">
    <h2 class="p-2">Despesas</h2>
    <div
        class="card flex justify-between"
        style="
            background-color: var(--primary-color);
            color: var(--light-color);
        "
    >
        <div>Categoria</div>
        <div>Nome</div>
        <div>Data</div>
        <div>Valor</div>
    </div>
    <div class="overflow-y-auto" style="max-height: 30rem">
        <div class="card flex justify-between">
            <div>Alimentação</div>
            <div>Shopping</div>
            <div>25/05/2024</div>
            <div class="flex">
                <div class="flex align-center p-1">
                    {%include
                    "partials/components/icons/arrow-expense-out-icon.svg"%}
                </div>
                65,90
            </div>
        </div>
        <div class="card flex justify-between">
            <div>Alimentação</div>
            <div>Shopping</div>
            <div>25/05/2024</div>
            <div class="flex">
                <div class="flex align-center p-1">
                    {%include
                    "partials/components/icons/arrow-expense-out-icon.svg"%}
                </div>
                65,90
            </div>
        </div>
        <div class="card flex justify-between">
            <div>Alimentação</div>
            <div>Shopping</div>
            <div>25/05/2024</div>
            <div class="flex">
                <div class="flex align-center p-1">
                    {%include
                    "partials/components/icons/arrow-expense-out-icon.svg"%}
                </div>
                65,90
            </div>
        </div>
        <div class="card flex justify-between">
            <div>Alimentação</div>
            <div>Shopping</div>
            <div>25/05/2024</div>
            <div class="flex">
                <div class="flex align-center p-1">
                    {%include
                    "partials/components/icons/arrow-expense-out-icon.svg"%}
                </div>
                65,90
            </div>
        </div>
        <div class="card flex justify-between">
            <div>Alimentação</div>
            <div>Shopping</div>
            <div>25/05/2024</div>
            <div class="flex">
                <div class="flex align-center p-1">
                    {%include
                    "partials/components/icons/arrow-expense-out-icon.svg"%}
                </div>
                65,90
            </div>
        </div>
        <div class="card flex justify-between">
            <div>Alimentação</div>
            <div>Shopping</div>
            <div>25/05/2024</div>
            <div class="flex">
                <div class="flex align-center p-1">
                    {%include
                    "partials/components/icons/arrow-expense-out-icon.svg"%}
                </div>
                65,90
            </div>
        </div>
        <div class="card flex justify-between">
            <div>Alimentação</div>
            <div>Shopping</div>
            <div>25/05/2024</div>
            <div class="flex">
                <div class="flex align-center p-1">
                    {%include
                    "partials/components/icons/arrow-expense-out-icon.svg"%}
                </div>
                65,90
            </div>
        </div>
        <div class="card flex justify-between">
            <div>Alimentação</div>
            <div>Shopping</div>
            <div>25/05/2024</div>
            <div class="flex">
                <div class="flex align-center p-1">
                    {%include
                    "partials/components/icons/arrow-expense-out-icon.svg"%}
                </div>
                65,90
            </div>
        </div>
        <div class="card flex justify-between">
            <div>Alimentação</div>
            <div>Shopping</div>
            <div>25/05/2024</div>
            <div class="flex">
                <div class="flex align-center p-1">
                    {%include
                    "partials/components/icons/arrow-expense-out-icon.svg"%}
                </div>
                65,90
            </div>
        </div>
        <div class="card flex justify-between">
            <div>Alimentação</div>
            <div>Shopping</div>
            <div>25/05/2024</div>
            <div class="flex">
                <div class="flex align-center p-1">
                    {%include
                    "partials/components/icons/arrow-expense-out-icon.svg"%}
                </div>
                65,90
            </div>
        </div>
        <div class="card flex justify-between">
            <div>Alimentação</div>
            <div>Shopping</div>
            <div>25/05/2024</div>
            <div class="flex">
                <div class="flex align-center p-1">
                    {%include
                    "partials/components/icons/arrow-expense-out-icon.svg"%}
                </div>
                65,90
            </div>
        </div>
        <div class="card flex justify-between">
            <div>Alimentação</div>
            <div>Shopping</div>
            <div>25/05/2024</div>
            <div class="flex">
                <div class="flex align-center p-1">
                    {%include
                    "partials/components/icons/arrow-expense-out-icon.svg"%}
                </div>
                65,90
            </div>
        </div>
    </div>
</div>
