<div class="card">
    <h2>Despesas</h2>
    <div class="card flex justify-between">
        <div>Categoria:</div>
        <div>Nome:</div>
        <div>Data</div>
        <div>Valor</div>
    </div>
    <div class="card flex justify-between">
        <div>Alimentação</div>
        <div>Shopping</div>
        <div>25/05/2024</div>
        <div>65,90</div>
    </div>
    <div class="card flex justify-between">
        <div>Alimentação</div>
        <div>Shopping</div>
        <div>25/05/2024</div>
        <div>65,90</div>
    </div>
    <div class="card flex justify-between">
        <div>Alimentação</div>
        <div>Shopping</div>
        <div>25/05/2024</div>
        <div>65,90</div>
    </div>
    <div class="card flex justify-between">
        <div>Alimentação</div>
        <div>Shopping</div>
        <div>25/05/2024</div>
        <div>65,90</div>
    </div>
    <div class="card flex justify-between">
        <div>Alimentação</div>
        <div>Shopping</div>
        <div>25/05/2024</div>
        <div>65,90</div>
    </div>
    <div class="card flex justify-between">
        <div>Alimentação</div>
        <div>Shopping</div>
        <div>25/05/2024</div>
        <div>65,90</div>
    </div>
</div>
