<div class="dashboard-layout" x-data="dashboardControl">
    {%include "partials/home/menu/menu-desktop/sidebar.html"%}

    <main class="main-content flex flex-column gap-4">
        {%include "partials/home/navbar/navbar.html"%}
        <div class="flex flex-column items-end">
            <div style="width: 8rem">
                <button class="button" @click="isOpen = !isOpen">
                    Fevereiro
                    <template x-if="isOpen">
                        <div>
                            {% include
                            "partials/components/icons/arrow-up-filter-icon.svg"
                            %}
                        </div>
                    </template>
                    <template x-if="!isOpen">
                        <div>
                            {% include
                            "partials/components/icons/arrow-down-filter-icon.svg"
                            %}
                        </div>
                    </template>
                </button>
                {%include
                "partials/home/dashboard/components/dropdown-month.html"%}
            </div>
        </div>
        <section class="dashboard-grid">
            <div class="card card-blue">
                <div class="icon-container">
                    <h3>Salário</h3>
                    <div @click="showSalary = !showSalary" class="cursor-pointer">
                        <template x-if="showSalary">
                            <div>
                                {%include
                                "partials/components/icons/eye-open-icon.svg"%}
                            </div>
                        </template>
                        <template x-if="!showSalary">
                            <div>
                                {% include
                                "partials/components/icons/eye-close-icon.svg"
                                %}
                            </div>
                        </template>
                    </div>
                </div>
                <h2>R$5,560</h2>
                <div class="icon-wallet">
                    {%include "partials/components/icons/coin-icon.svg"%}
                </div>
            </div>

            <div class="card wallet-balance">
                <h2>R$4,523.98</h2>
                <p>
                    <span class="income">R$3,030.98</span>
                    <span class="expenses">R$223.98</span>
                </p>
            </div>

            <div class="card payable-accounts">
                <h4>Sálário gasto</h4>
                <p>...</p>
                <div class="progress"><span style="width: 87.5%"></span></div>
                <p></p>
                <p><strong>18 DE OUT 2025</strong></p>
            </div>

            <div class="card transactions">
                <h4>Despesas</h4>
                <div class="flex align-center">
                    <i>
                        {%include
                        "partials/components/icons/expenses-icon.svg"%}
                    </i>
                    <p>Shopping - Nov 25 - R$300</p>
                </div>
            </div>
            <!-- 
            <div class="card chart">
                <h4>Monthly earnings</h4>
                <div class="chart-placeholder">Grafico</div>
            </div>

            <div class="card earnings">
                <h4>Earnings</h4>
                <div class="circular-progress">$4,523.98</div>
            </div>

            <div class="card receipts">
                <h4>Receipts</h4>
                <ul>
                    <li>$5,000.00 - Salary</li>
                    <li>$593.00 - Service</li>
                    <li>$3,030.98 - Rent or Mortgage</li>
                </ul>
            </div>

            <div class="card payables">
                <h4>Payables</h4>
                <ul>
                    <li>$202.98 - Electricity Bill</li>
                    <li>$3,030.98 - Rent or Mortgage</li>
                </ul>
            </div> -->
        </section>
    </main>
</div>
