<aside class="sidebar">
    <div class="icon-back-sidebar cursor-pointer">
        {%include "partials/components/icons/arrow-back-icon.svg"%}
    </div>
    <div class="user-profile">
        <img src="statics/images/user-image.jpeg" alt="User" />
        <h2>Jeniffer Chagas</h2>
        <a href="#" class="cursor-pointer">Meu perfil</a>
    </div>
    <nav class="menu">
        <ul>
            <li class="active">
                <i class="icon dashboard"
                    >{%include
                    "partials/components/icons/data-icon.svg"%}</i
                >Dashboard
            </li>
            <li>
                <i class="icon wallet"
                    >{%include "partials/components/icons/wallet-icon.svg"
                    %}</i
                >Carteira
            </li>
            <li>
                <i class="icon transactions"
                    >{%include
                    "partials/components/icons/transations-icon.svg"%} </i
                >Transações
            </li>
            <li>
                <i class="icon search"
                    >{%include
                    "partials/components/icons/search-icon.svg"%}</i
                >Busca
            </li>
        </ul>
    </nav>
    <div class="menu-footer">
        <ul>
            <li>
                <i class="icon setting">
                    {%include
                    "partials/components/icons/settings-icon.svg"%} </i
                >Configurações
            </li>
            <li>
                <i class="icon help">
                    {%include "partials/components/icons/help-icon.svg"%} </i
                >Ajuda
            </li>
            <li>
                <i class="icon logout">
                    {%include "partials/components/icons/out-icon.svg"%} </i
                >Sair
            </li>
        </ul>
    </div>
</aside>