.sidebar {
    width: 240px;
    height: 100%;
    flex-shrink: 0;
    background-color: var(--sidebar-background-color);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.05);
    transition: width 0.9s ease, padding 0.9s ease;
    overflow: hidden;

    &.no-transition {
        transition: none !important;
    }

    .icon-back-sidebar {
        display: flex;
        justify-content: end;
    }

    .user-profile {
        text-align: center;
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 1rem;
            object-fit: cover;
            transition: width 0.3s ease, height 0.3s ease;
        }
        h2 {
            font-size: 1rem;
        }
        
        p {
            color: var(--text-muted);
            font-size: 0.875rem;
        }

        &.invisible {
            visibility: hidden;
        }

        .account-plan {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--yellow-color);
            border-radius: 5rem;
            width: 8rem;
        }
    }

    .menu,
    .menu-footer {
        ul {
            list-style: none;
            padding: 0;
            transition: width 0.9s ease, padding 0.9s ease;
            li {
                padding: 0.75rem 1rem;
                border-radius: 10px;
                margin: 0.25rem 0;
                cursor: pointer;
                font-size: 0.95rem;
                display: flex;
                align-items: center;
                gap: 0.75rem;

                &.active,
                &:hover {
                    background: var(--primary-color);
                    color: var(--light-color);

                    i svg {
                        fill: var(--light-color)!important;
                    }
                }
            }
        }
    }
}

.sidebar-collapsed {
    width: 70px;
    padding: 1rem 0.5rem;

    .user-profile {
        img {
            width: 50px;
            height: 50px;
        }

        h2,
        a {
            visibility: hidden;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .menu ul li span,
    .menu-footer ul li span {
        visibility: hidden;
    }
}

.menu-text {
    opacity: 0;
    transition: opacity 0.3s ease;
}

[x-cloak] {
    display: none !important;
}

.menu-text-base {
    transition: opacity 0.3s ease 0.4s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.menu-text-visible {
    opacity: 1;
    pointer-events: auto;
}

.menu-text-hidden {
    opacity: 0;
    pointer-events: none;
}
