<aside
    class="sidebar"
    x-data="sidebarControl"
    :class="{'sidebar-collapsed': !isOpen}"
>
    <div class="icon-back-sidebar cursor-pointer" @click="isOpen = !isOpen">
        <template x-if="isOpen">
            <div>
                {% include "partials/components/icons/arrow-left-icon.svg" %}
            </div>
        </template>
        <template x-if="!isOpen">
            <div>
                {%include "partials/components/icons/arrow-right-icon.svg"%}
            </div>
        </template>
    </div>
    <div class="user-profile">
        <img src="statics/images/user-image.jpeg" alt="User" />
        <h2>Jeniffer Chagas</h2>
        <a
            hx-get="/meu-perfil"
            hx-target="#main-partial"
            hx-swap="innerHTML"
            class="cursor-pointer"
            >Meu perfil</a
        >
    </div>
    <nav class="menu">
        <ul>
            <li class="active">
                <i class="icon dashboard"
                    >{% include "partials/components/icons/data-icon.svg" %}</i
                >
                <span
                    :class="isOpen ? 'menu-text-visible' : 'menu-text-hidden'"
                    x-transition:enter="transition-opacity duration-400 delay-200"
                    x-transition:leave="transition-opacity duration-200"
                    x-cloak
                    hx-get="/dashboard"
                    hx-target="#main-partial"
                    hx-swap="innerHTML"
                    >Dashboard</span
                >
            </li>
            <li>
                <i class="icon wallet"
                    >{% include "partials/components/icons/wallet-icon.svg"
                    %}</i
                >
                <span
                    :class="isOpen ? 'menu-text-visible' : 'menu-text-hidden'"
                    x-transition:enter="transition-opacity duration-300 delay-200"
                    x-transition:leave="transition-opacity duration-200"
                    hx-get="/carteira"
                    hx-target="#main-partial"
                    hx-swap="innerHTML"
                    class="cursor-pointer"
                    x-cloak
                    >Carteira</span
                >
            </li>
            <li>
                <i class="icon transactions"
                    >{% include "partials/components/icons/transations-icon.svg"
                    %}</i
                >
                <span
                    class="cursor-pointer"
                    :class="isOpen ? 'menu-text-visible' : 'menu-text-hidden'"
                    x-transition:enter="transition-opacity duration-300 delay-200"
                    x-transition:leave="transition-opacity duration-200"
                    hx-get="/transacoes"
                    hx-target="#main-partial"
                    hx-swap="innerHTML"
                    x-cloak
                    >Transações</span
                >
            </li>
            <li>
                <i class="icon search"
                    >{% include "partials/components/icons/search-icon.svg"
                    %}</i
                >
                <span
                    :class="isOpen ? 'menu-text-visible' : 'menu-text-hidden'"
                    x-transition:enter="transition-opacity duration-300 delay-200"
                    x-transition:leave="transition-opacity duration-200"
                    x-cloak
                    >Busca</span
                >
            </li>
        </ul>
    </nav>

    <div class="menu-footer">
        <ul>
            <li>
                <i class="icon setting"
                    >{% include "partials/components/icons/settings-icon.svg"
                    %}</i
                >
                <span
                    :class="isOpen ? 'menu-text-visible' : 'menu-text-hidden'"
                    x-transition:enter="transition-opacity duration-300 delay-200"
                    x-transition:leave="transition-opacity duration-200"
                    x-cloak
                    >Configurações</span
                >
            </li>
            <li>
                <i class="icon help"
                    >{% include "partials/components/icons/help-icon.svg" %}</i
                >
                <span
                    :class="isOpen ? 'menu-text-visible' : 'menu-text-hidden'"
                    x-transition:enter="transition-opacity duration-300 delay-200"
                    x-transition:leave="transition-opacity duration-200"
                    x-cloak
                    >Ajuda</span
                >
            </li>
            <li>
                <i class="icon logout"
                    >{% include "partials/components/icons/out-icon.svg" %}</i
                >
                <span
                    :class="isOpen ? 'menu-text-visible' : 'menu-text-hidden'"
                    x-transition:enter="transition-opacity duration-300 delay-200"
                    x-transition:leave="transition-opacity duration-200"
                    x-cloak
                    >Sair</span
                >
            </li>
        </ul>
    </div>
</aside>
