.wallet-page {
    padding: 2rem;
    background: #f6f7fb;
    border-radius: 1rem;

    .wallet-section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-top: 1rem;


        h2 {
            padding: 0.3rem;
            font-size: 1.4rem;
            color: var(--primary-color);
        }

        .card-grid {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        }

        .wallet-card {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
            background: white;
            border-radius: 0.75rem;
            padding: 1.25rem;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

            h3 {
                font-size: 1.1rem;
            }

            p {
                font-size: 1rem;
                font-weight: bold;
            }

            &.total {
                background: #c2f1d3;
                border-left: 4px solid var(--secondary-btn);
            }
        }

        .negative {
            color: red;
            font-weight: bold;
        }
    }
}

.wallet-actions {
    display: flex;
    gap: 1rem;

    .btn {
        background: #2ed8b6;
        padding: 0.5rem;
        color: rgb(255, 255, 255);
        border-radius: 0.5rem;
        font-weight: bold;
    }
}

.wallet-modal {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
    }

    .modal-content {
        position: relative;
        background: white;
        padding: 2rem;
        border-radius: 1rem;
        z-index: 10;
        width: 100%;
        max-width: 400px;

        input {
            display: block;
            width: 100%;
            margin-bottom: 1rem;
            padding: 0.75rem;
            border-radius: 0.5rem;
            border: 1px solid #ccc;
        }

        button {
            width: 100%;
            padding: 0.75rem;
            background: var(--primary-color);
            color: white;
            border-radius: 0.5rem;
            font-weight: bold;
        }
    }
}
