.wallet-page {
    padding: 2rem;
    background: #f6f7fb;
    border-radius: 1rem;

    .wallet-section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-top: 1rem;

        h2 {
            padding: 0.3rem;
            font-size: 1.4rem;
            color: var(--primary-color);
        }

        .wallet-card {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
            background: var(--white-gradient);
            border-radius: 0.75rem;
            padding: 1.25rem;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.203);
            transition: all 0.3s ease;
            overflow-wrap: break-word;

            p {
                font-size: 1rem;
            }

            &.salary {
                   background: var(--orange-gradient) !important;
            }

            &.total {
                background: var(--green-gradient-color);

                svg {
                    width: 18px;
                    height: 18px;
                }
            }

            &:hover {
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
            }
        }

        .negative {
            color: red;
            font-weight: bold;
        }
    }
}

.wallet-actions {
    display: flex;
    gap: 1rem;

    .btn {
        display: flex;
        align-items: center;
        gap: 0.1rem;
        background: var(--white-gradient);
        padding: 0.5rem;
        color: rgb(63, 42, 42);
        border-radius: 0.5rem;
        font-weight: bold;
    }
}

.wallet-modal {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;


    .modal-overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
    }

    .modal-content {
        position: relative;
        background: var(--light-color);
        padding: 2rem;
        border-radius: 1rem;
        z-index: 10;
        width: 100%;
        max-width: 400px;

        input {
            display: block;
            width: 100%;
            margin-bottom: 1rem;
            padding: 0.75rem;
            border-radius: 0.5rem;
            border: 1px solid #ccc;
        }

        button {
            width: 100%;
            padding: 0.75rem;
            background: var(--primary-color);
            color: var(--light-color);
            border-radius: 0.5rem;
            font-weight: bold;
        }
    }
}
