<section x-data="walletControl()" class="wallet-page">
    <h1 class="p-1">Carteira Financeira</h1>
    <div class="wallet-section">
        <div class="flex gap-2">
            <div class="wallet-card w-33 relative justify-between">
                <div class="flex flex-column gap-4">
                    <h3 style="font-size: 2rem">{%include
                        "partials/components/icons/coin-icon.svg"%}Salário</h3>
                    <p class="green-color-font" style="font-size: 2rem">
                        R$<span x-text="format(salary)"></span>
                    </p>
                </div>
                <div>
                    {%include
                    "partials/home/wallet/components/modal/modal.html"%}
                </div>
            </div>
            <div class="flex flex-column gap-2 w-33">
                <div class="wallet-card">
                    <h3 class="flex align-center gap-1">
                        {%include "partials/components/icons/money-enter-icon.svg"%}Renda Extra
                    </h3>
                    <p>R$<span x-text="format(extraIncome)"></span></p>
                </div>
                <div class="wallet-card total white-text-color">
                    <h3 class="flex align-center"> {%include "partials/components/icons/wallet-icon.svg"%}Total Disponível</h3>
                    <p>R$<span x-text="format(totalIncome)"></span></p>
                </div>
            </div>
            <div class="w-33">
                <div
                    class="wallet-card h-full justify-end gradient-secondary white-text-color"
                >
                    <h3>Cartão de credito</h3>
                    <div>
                        <div class="flex justify-between">
                            <p>R$<span x-text="format(totalIncome)"></span></p>

                            {%include
                            "partials/components/icons/balls-icon.svg"%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="wallet-section">
        <h2 class="flex align-center gap-1">
            {%include "partials/components/icons/credit-card-icon.svg"%} Cartões
            de Crédito
        </h2>
        <template x-for="card in creditCards" :key="card.name">
            <div class="wallet-card w-33">
                <h3 x-text="card.name"></h3>
                <p>Limite: R$ <span x-text="format(card.limit)"></span></p>
                <p>Usado: R$ <span x-text="format(card.used)"></span></p>
            </div>
        </template>
    </div> -->
    <div class="flex gap-2">
        <div class="wallet-section w-50">
            <h2 class="flex align-center gap-1">
                <span style="color: rgba(240, 101, 67, 0.85)">
                    {%include "partials/components/icons/pig-money-icon.svg"%}
                </span>
                Reservas
            </h2>
            <div class="flex flex-column gap-2">
                <div class="wallet-card">
                    <div class="flex align-center gap-1">
                        {%include "partials/components/icons/plus-icon.svg"%}
                        <h3>Emergência</h3>
                    </div>
                    <p style="padding-left: 0.5em">
                        R$<span x-text="format(reserveEmergency)"></span>
                    </p>
                </div>
                <div class="wallet-card">
                    <div class="flex align-center gap-1">
                        {%include
                        "partials/components/icons/chart-investment-icon.svg"%}
                        <h3>Investimentos</h3>
                    </div>
                    <p style="padding-left: 0.5em">
                        R$<span x-text="format(reserveInvestments)"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="wallet-section w-50">
            <h2 class="flex align-center gap-1">
                {%include "partials/components/icons/list-icon.svg"%} Resumo
            </h2>
            <ul class="wallet-card">
                <li>
                    Comprometido:<span x-text="format(committedAmount)"></span>
                </li>
                <li>
                    Sobra do mês:<span x-text="format(monthBalance)"></span>
                </li>
                <li x-show="monthBalance < 0" class="negative">
                    Atenção! Mês negativo
                </li>
            </ul>
        </div>
    </div>
</section>
