{%extends "bases/main/main.html"%} {% block body %}
<main id="main logged-in">
    <div class="main-container">
        {% if not hide_menu %} {% include
        "partials/home/menu/menu-desktop/sidebar.html" %} {% endif %}

        <div id="main">
            <div class="navbar">
                {% include "partials/home/menu/navbar/navbar.html" with context %}
            </div>

            <div id="main-partial">{% include partial with context %}</div>
        </div>
    </div>
</main>
{% endblock %}
