.main-container{
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100svh;
    width: 100vw;

    @media (max-width: 768px) {
        flex-direction: column-reverse;
    }
}

#main {
    flex: 1;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;

    // &.htmx-request {
    //     overflow: hidden;
    // }
}

#main-partial {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
  }