.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 10px 20px;
    border-radius: 0.625rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;

    svg {
        fill: white !important;
    }
    &:hover {
        background-color: var(--secondary-color);
    }
}

.cancel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--text-muted);
    color: var(--light-color);
    padding: 10px 20px;
    border-radius: 0.625rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;

    &:hover {
        background-color: var(--text-muted-hover);
    }
}
