.primary-color {
    color: var(--primary-color);
}

.orange-color {
    color: var(--orange-color);
}

.green-color-font {
    color: var(--green-color-font);
}

.red-color {
    color: var(--red-color);
}

.text-muted {
    color: var(--text-muted);
}

.gradient-secondary {
    background: var(--gradient-secondary) !important;
}

.white-text-color {
    color: var(--light-color);
}

.green-gradient-color {
    background: var(--green-gradient-color);
}

.white-gradient {
    background-color: var(--white-gradient);
}
