h1 {
    font-size: 2rem;
    text-shadow: 0 1px 2px #0000000d;
}
h2 {
    text-shadow: 0 1px 2px #0000000d;
}
h3 {
    text-shadow: 0 1px 2px #0000000d;
    font-size: 1.1rem;

}
p {
    font-size: 0.875rem;
    text-shadow: 0 1px 2px #0000000d;
}
a {
    text-decoration: none;
    color: var(--text-muted);
    text-shadow: 0 1px 2px #0000000d;

    &:hover {
        color: var(--accent-color);
    }
}
label {
    font-size: 0.9rem;
    font-weight: 600;
    display: block;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.111);
}
small {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.111);
}
li {
    list-style-type: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.111);
}

button {
    border: none;
    background: transparent;
    outline: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.111);
}
