.transactions-page {
    .transactions-table {
        width: 100%;
        border-collapse: collapse;
        thead {
            background-color: var(--primary-color);
            color: var(--light-color);
        }
        th,
        td {
            padding: 0.75rem;
            border-bottom: 0.1rem solid var(--border-color);
            text-align: left;
        }
    }
}

.input-form {
    width: 100%;
    padding: 0.1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s;

    &:focus {
        border-color: var(--primary-color);
        outline: none;
        background-color: #f9f9f9;
    }
}
