<div class="particles">
    <div
        class="particle"
        style="width: 80px; height: 80px; top: 10%; left: 10%"
    ></div>
    <div
        class="particle"
        style="width: 60px; height: 60px; top: 20%; left: 80%"
    ></div>
    <div
        class="particle"
        style="width: 40px; height: 40px; top: 70%; left: 20%"
    ></div>
    <div
        class="particle"
        style="width: 100px; height: 100px; top: 60%; left: 70%"
    ></div>
    <div
        class="particle"
        style="width: 50px; height: 50px; top: 50%; left: 50%"
    ></div>
    <div
        class="particle"
        style="width: 70px; height: 70px; top: 30%; left: 30%"
    ></div>
</div>