<section class="theme-switcher">
    <button onclick="switchTheme('default')">Claro</button>
    <button onclick="switchTheme('dark')">Escuro</button>
  </section>
  
  <section class="theme-palette">
    <div class="color-box" style="background: var(--primary-color)">primary-color</div>
    <div class="color-box" style="background: var(--secondary-color)">secondary-color</div>
    <div class="color-box" style="background: var(--accent-color)">accent-color</div>
    <div class="color-box" style="background: var(--dark-color); color: var(--light-color)">dark-color</div>
    <div class="color-box" style="background: var(--light-color); color: var(--dark-color)">light-color</div>
    <div class="color-box" style="background: var(--background-color)">background-color</div>
    <div class="color-box" style="background: var(--box-shadow-color)">box-shadow-color</div>
    <div class="color-box" style="background: var(--text-muted)">text-muted</div>
    <div class="color-box" style="background: var(--gradient)">gradient</div>
  </section>
  