<div class="dropdown">
    <div class="dropdown-menu" x-show="isOpen" x-transition>
      
      <div class="dropdown-item">
        <button hx-get="/dashboard/filter?month=1" hx-target="#debts-section" hx-swap="innerHTML">
          Janeiro
        </button>
      </div>
  
      <div class="dropdown-item">
        <button hx-get="/dashboard/filter?month=2" hx-target="#debts-section" hx-swap="innerHTML">
          Fevereiro
        </button>
      </div>
  
      <div class="dropdown-item">
        <button hx-get="/dashboard/filter?month=3" hx-target="#debts-section" hx-swap="innerHTML">
          Março
        </button>
      </div>
  
      <div class="dropdown-item">
        <button hx-get="/dashboard/filter?month=4" hx-target="#debts-section" hx-swap="innerHTML">
          Abril
        </button>
      </div>
  
      <div class="dropdown-item">
        <button hx-get="/dashboard/filter?month=5" hx-target="#debts-section" hx-swap="innerHTML">
          Maio
        </button>
      </div>
  
      <div class="dropdown-item">
        <button hx-get="/dashboard/filter?month=6" hx-target="#debts-section" hx-swap="innerHTML">
          Junho
        </button>
      </div>
  
      <div class="dropdown-item">
        <button hx-get="/dashboard/filter?month=7" hx-target="#debts-section" hx-swap="innerHTML">
          Julho
        </button>
      </div>
  
      <div class="dropdown-item">
        <button hx-get="/dashboard/filter?month=8" hx-target="#debts-section" hx-swap="innerHTML">
          Agosto
        </button>
      </div>
  
      <div class="dropdown-item">
        <button hx-get="/dashboard/filter?month=9" hx-target="#debts-section" hx-swap="innerHTML">
          Setembro
        </button>
      </div>
  
      <div class="dropdown-item">
        <button hx-get="/dashboard/filter?month=10" hx-target="#debts-section" hx-swap="innerHTML">
          Outubro
        </button>
      </div>
  
      <div class="dropdown-item">
        <button hx-get="/dashboard/filter?month=11" hx-target="#debts-section" hx-swap="innerHTML">
          Novembro
        </button>
      </div>
  
      <div class="dropdown-item">
        <button hx-get="/dashboard/filter?month=12" hx-target="#debts-section" hx-swap="innerHTML">
          Dezembro
        </button>
      </div>
  
    </div>
  </div>
  