<div class="wallet-actions">
    <button @click="openModal = true" class="btn">
        {% include "partials/components/icons/plus-rounded-icon.svg" %}
        Adicionar receita
    </button>
</div>

<div
    class="overlay"
    x-show="openModal"
    x-transition
>
    <div class="form-container flex flex-column gap-1" x-cloak 
    @keydown.escape.window="openModal = false"
    @click.away="openModal = false"
    
    >
        <div>
            <h2 class="text-center">Adicionar Renda</h2>
        </div>
        <form @submit.prevent="addExtra" class="flex flex-column gap-2">
            <div class="flex flex-column gap-1">
                <label for="extra-value">Valor</label>
                <input
                    id="extra-value"
                    x-model="newExtra"
                    class="input-form"
                    type="number"
                    min="0"
                    step="0.01"
                    required
                />
            </div>

            <div class="flex flex-column gap-1">
                <label for="extra-category">Categoria</label>
                {% include
                "partials/home/wallet/components/modal/components/dropdown/dropdown.html"
                %}
            </div>

            <div class="padding-1 text-center">
                <p class="red-color">Todos os campos são obrigatórios.</p>
            </div>

            <div class="flex justify-between">
                <button type="submit" class="button">Adicionar</button>
                <button
                    type="button"
                    class="cancel-button"
                    @click="openModal = false"
                >
                    Cancelar
                </button>
            </div>
        </form>
    </div>
</div>
