<div class="dropdown" x-data="dropdownControl">
    <div
        class="input-form text-left cursor-pointer"
        @click="openDropdown =!openDropdown"
        style="background-color: var(--background-input)"
    >
        <p>Selecione uma categoria</p>
    </div>

    <div class="dropdown-menu" x-show="openDropdown" x-transition>
        {% for category in categories %}
        <div class="dropdown-item ">
            <p>{{ category.name }}</p>
        </div>
        {% endfor %}
    </div>
</div>
