<div class="dropdown" x-data="dropdownControl">
    <div
        class="input-form text-left cursor-pointer"
        @click="openDropdown =!openDropdown"
        style="background-color: var(--background-input)"
    >
        Selecione uma categoria
    </div>

    <div class="dropdown-menu" x-show="openDropdown" x-transition>
        {% for category in CATEGORIES %}
        <div class="dropdown-item">
            <span>{{ category.name }}</span>
        </div>
        {% endfor %}
    </div>
</div>
