.form-container {
    background: #fff;
    border-radius: 12px;
    padding: 2rem;
    width: 33rem;
    max-width: 90%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-out;

    .input-form {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 1rem;
        transition: border-color 0.3s;

        &:focus {
            border-color: var(--primary-color);
            outline: none;
            background-color: #f9f9f9;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
