<div class="wallet-actions">
    <button @click="openModal = 'salary'" class="btn">
        {%include "partials/components/icons/plus-rounded-icon.svg"%} Adicionar receita
    </button>

</div>


<div class="overlay">
    <div
        class="form-container flex flex-column gap-1"
        @keydown.escape.window="openModal = ''"
        x-cloak
    >
        <div>
            <h2 class="text-center">Adicionar Gasto</h2>
        </div>
        <form class="flex flex-column gap-2">
            <div>
                <label for="debt-name">Nome</label>
                <input class="input-form" type="text" />
            </div>
            <div>
                <label for="debt-value">Valor</label>
                <input class="input-form" type="" />
            </div>
            <div>
                <label for="debt-category">Categoria</label>
                {%include
                "partials/home/add-debt-modal/components/dropdown.html" %}
            </div>
            <div>
                <label for="debt-start-date">Início</label>
                <input class="input-form" type="date" />
            </div>
            <div>
                <label for="debt-installments">Parcelas</label>
                <input class="input-form" type="number" />
            </div>
        </form>
        <div class="padding-1 text-center">
            <p class="text-muted">Todos os campos são obrigatórios.</p>
        </div>
        <div class="flex justify-between">
            <button type="submit" class="button">Adicionar</button>
            <button
                type="button"
                class="cancel-button"
                @click="openModal = false"
            >
                Cancelar
            </button>
        </div>
    </div>
</div>

