<div x-data="notificationDropdown()" class="relative" x-cloak>
    <button @click="toggle()" class="notification-btn">
        <div class="relative">
            {% include "partials/components/icons/notification-icon.svg" %}
            <span
                x-show="notifications.length > 0"
                x-text="notifications.length"
                class="badge"
            ></span>
        </div>
    </button>

    <div
        x-show="open"
        @click.away="open = false"
        class="notification-dropdown"
        x-transition
    >
        <div class="flex align-center justify-between p-t-2 p-b-2">
            <h4>Notificações</h4>
            <a
                class="text-muted cursor-pointer flex align-center"
                style="font-size: 0.7rem"
                >{%include "partials/components/icons/check-icon.svg"%}Marcar
                como lida</a
            >
        </div>
        <ul>
            <template x-for="(notif, index) in notifications" :key="index">
                <div class="flex align-center gap-1">
                    <div>
                        {%include "partials/components/icons/alert-icon.svg"%}
                    </div>
                    <div>
                        <li x-text="notif.message"></li>
                    </div>
                </div>
            </template>
        </ul>
        <div x-show="notifications.length === 0" class="no-notifications">
            Sem notificações.
        </div>
    </div>
</div>
