<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="/statics/dist/main.css" />
        <script type="module" src="/statics/dist/main.js"></script>
        <title>Orçana</title>
    </head>
    <body data-theme="default">
        {% block body %} 
        

        {%endblock %}
        <script>
            function switchTheme(theme) {
                document.body.setAttribute("data-theme", theme);
                localStorage.setItem("theme", theme);
            }

            document.addEventListener("DOMContentLoaded", () => {
                const savedTheme = localStorage.getItem("theme") || "default";
                document.body.setAttribute("data-theme", savedTheme);
            });

            const errorContainer = document.getElementById(
                "globalErrorContainer"
            );
            if (errorContainer) {
                setTimeout(() => {
                    errorContainer.classList.add("hidden");
                }, 5000);
            }
        </script>
    </body>
</html>
