<section class="flex">
    <div class="card w-50">
        <h1>oi</h1>
    </div>
    <div class="card w-50">
        <ul>
            <li class="flex align-center gap-1">
                <div
                    class="b-radius-full"
                    style="
                        background-color: rgb(255, 0, 0);
                        width: 15px;
                        height: 15px;
                    "
                ></div>
                Categoria 1
            </li>
        </ul>
    </div>
</section>