<div class="flex gap-1">
    {% include "partials/components/icons/logo-icon.svg" %}
    <h2>Bem vindo(a), Jeniffer!</h2>
</div>
<header class="navbar">
    <div>
        <input type="text" placeholder="pesquisar..." class="search-bar" />
    </div>
    <div class="flex gap-1" x-data="debtModalControl">
        <i @click="openModal =! openModal" class="cursor-pointer">
            {%include "partials/components/icons/plus-icon.svg"%}</i
        >

        <div x-show="openModal">
            {%include "partials/home/add-debt-modal/add-debt-modal.html" %}
        </div>
        <div>
            <i>
                {%include "partials/components/icons/notification-icon.svg"%}
            </i>
        </div>
    </div>
</header>
